@model IEnumerable<CRUDoperation.Models.EmployeeModel>

@{
    ViewData["Title"] = "Employee Details";
}
<h2>@ViewData["Title"]</h2>

<table class="table">
    <thead>
        <tr>
            <th>emp_id</th>
            <th>first_name</th>
            <th>last_name</th>
            <th>contact</th>
            <th>email</th>
            <th>emp_age</th>
        </tr>

    </thead>
    <tbody>
        @{
            int i = 1;
            if (Model != null)
            {
                @foreach (var Employee in Model)
                {
                    <tr>
                        <td>@i</td>
                        <td>@Html.DisplayFor(modelItem => Employee.firstName)</td>
                        <td>@Html.DisplayFor(modelItem => Employee.lastName)</td>
                        <td>@Html.DisplayFor(modelItem => Employee.contactNo)</td>
                        <td>@Html.DisplayFor(modelItem => Employee.emailId)</td>
                        <td>@Html.DisplayFor(modelItem => Employee.age)</td>
                        <td>
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <a asp-action="Update" asp-route-id="@Employee.id" class="btn btn-primary btn-sm">Edit</a>
                                <a asp-action="Delete" asp-route-id="@Employee.id" class="btn btn-primary btn-sm">Delete</a>
                            </div>
                        </td>
                    </tr>
                    i++;
                }
            }
            else
            {
                <tr>
                    <td colspan="7">No data available</td>
                </tr>
            }
        }

    </tbody>
</table>